.advantage {
  background: #f8f9fc;
}

.advantage__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding-top: 146px;
  padding-bottom: 90px;

  @media (max-width: $vp-1199) {
    padding-top: 92px;
    padding-bottom: 93px;
    gap: 42px;
  }

  @media (max-width: $vp-767) {
    padding: 63px 0;
  }
}

.advantage__title {
  @media (max-width: $vp-767) {
    padding-right: 17px;
  }
}

.advantage__item--first-card {
  grid-area: first-card;

  & .advantage__description-term {
    background: linear-gradient(127.61deg, #d10a42 0%, #0041ca 45.58%);
    background-clip: text;
    color: transparent;
  }
}

.advantage__item--second-card {
  grid-area: second-card;

  & .advantage__description-term {
    background: linear-gradient(142.51deg, #d10a42 0%, #0041ca 87.33%);
    background-clip: text;
    color: transparent;
  }
}

.advantage-item--center-card {
  position: relative;
  z-index: 1;
  grid-area: center-card;
  background-color: #f8f9fc;

  @media (max-width: $vp-1199) {
    justify-self: center;
    max-width: 442px;
    width: 100%;
  }

  @media (max-width: $vp-767) {
    max-width: 100%;
    left: -3px;
  }
}

.advantage-item__wrapper {
  color: #ffffff;
  padding: 63px 34px;
  width: 240px;
  height: 100%;
  background: #1c3374;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 31px;
  align-items: center;
  text-align: center;

  @media (max-width: $vp-1199) {
    padding: 39px 34px;
    width: 100%;
    position: relative;
    left: 3px;
    gap: 12px;
  }

  @media (max-width: $vp-767) {
    margin-top: 9px;
    padding: 40px 34px;
    gap: 8px;
  }
}

.advantage__item--third-card {
  grid-area: third-card;

  & .advantage__description-term {
    background: linear-gradient(142.51deg, #d10a42 0%, #0041ca 87.33%);
    background-clip: text;
    color: transparent;

    @media (max-width: $vp-767) {
      margin-top: 18px;
    }
  }
}

.advantage__item--fourth-card {
  grid-area: fourth-card;

  & .advantage__description-term {
    background: linear-gradient(142.51deg, #d10a42 0%, #0041ca 87.33%);
    background-clip: text;
    color: transparent;
  }
}

.advantage__decor-line-left {
  grid-area: decor-line-1;

  @media (max-width: $vp-1199) {
    display: none;
  }
}

.advantage__decor-line-right {
  grid-area: decor-line-2;

  @media (max-width: $vp-1199) {
    display: none;
  }
}

.advantage__decor {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #d10a4233;
}

.advantage__list {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0 60px 0 68px;
  display: grid;
  grid-auto-rows: auto;

  grid-template-areas:
    "first-card center-card second-card"
    "decor-line-1 center-card decor-line-2"
    "third-card center-card fourth-card";
  gap: 73px 53px;

  @media (max-width: $vp-1199) {
    grid-template-columns: repeat(2, minmax(300px, 400px));

    grid-template-areas:
      "first-card second-card"
      "center-card center-card"
      "center-card center-card"
      "third-card fourth-card";
    gap: 43px 39px;
    padding: 0;
    padding-right: 9px;
  }

  @media (max-width: $vp-767) {
    width: 100%;
    grid-template-columns: 1fr;
    gap: 34px;
    padding: 0;

    grid-template-areas:
      "first-card"
      "second-card"
      "center-card"
      "third-card"
      "fourth-card";
  }
}

.advantage__item {
  display: flex;
  align-items: flex-start;
  padding-left: 14px;
  gap: 30px;

  @media (max-width: $vp-1199) {
    padding-left: 0;
    gap: 31px;
  }

  @media (max-width: $vp-767) {
    flex-direction: column;
    align-items: center;
    padding: 0 46px;
    gap: 4px;
  }
}

.advantage__description-list {
  margin: 0;
  display: flex;
  flex-direction: column;
  max-width: 110px;

  @media (max-width: $vp-767) {
    text-align: center;
  }
}

.advantage__description-term {
  @include Roboto_Condensed(700, 71px, 62px);

  @media (max-width: $vp-1199) {
    @include Roboto_Condensed(700, 58px, 57px);
  }
}

.advantage__description-term--center {
  @media (max-width: $vp-1199) {
    @include Roboto_Condensed(700, 74px, 60px);
  }
}

.advantage__description-definition {
  @include Roboto_Condensed(400, 14px, 21px);
  margin: 0;
}

.advantage__description-definition--center {
  @include Roboto_Condensed(400, 26px, 39px);
  margin-top: 7px;

  @media (max-width: $vp-1199) {
    @include Roboto_Condensed(700, 22px, 33px);
  }

  @media (max-width: $vp-767) {
    margin-top: 2px;
  }
}

.advantage__item-title {
  @include Roboto_Condensed(700, 22px, 33px);
  margin: 0;

  @media (max-width: $vp-1199) {
    @include Roboto_Condensed(700, 20px, 30px);
  }

  @media (max-width: $vp-767) {
    text-align: center;
  }
}

.advantage__text {
  @include Roboto_Condensed(300, 16px, 22px);
  margin: 0;
  margin-top: 5px;

  @media (max-width: $vp-1199) {
    margin-top: 2px;
  }

  @media (max-width: $vp-767) {
    text-align: center;
  }
}

.advantage__text--cebter {
  @media (max-width: $vp-1199) {
    max-width: 210px;
    text-align: center;
  }
}
