.footer {
  background: #030a1a;
  padding: 40px 0;

  @media (max-width: $vp-1199) {
    padding: 43px 0;
  }

  @media (max-width: $vp-767) {
    padding: 48px 0;
  }
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: start;

  @media (max-width: $vp-767) {
    flex-direction: column;
  }
}

.footer__logo {
  display: flex;
  align-items: center;
  color: #ffffff;
  cursor: default;

  @media (max-width: $vp-1199) {
    & .footer__logo-icon {
      width: 82px;
      height: 25px;
    }
  }

  @media (max-width: $vp-767) {
    display: none;

    & .footer__logo-icon {
      display: none;
    }
  }
}

// .footer__logo-icon {
//   @media (max-width: $vp-1199) {
//     width: 82px;
//     height: 25px;
//   }
// }

.footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 20px 40px;

  @media (max-width: $vp-1199) {
    margin-top: 3px;
    gap: 20px 30px;
    position: relative;
    left: 7px;
  }

  @media (max-width: $vp-767) {
    display: block;
    column-count: 2;
    left: 0;
    margin-top: 0;
  }
}

.footer__item {
  width: max-content;

  @media (max-width: $vp-767) {
    margin-bottom: 19px;
    margin-right: 46px;

    &:nth-child(3) {
      break-before: avoid;
    }
  }
}

.footer__item--logo {
  display: none;

  @media (max-width: $vp-767) {
    display: block;
  }
}

.footer__link--logo {
  display: flex;
  align-items: center;
  padding-top: 4px;
  cursor: default;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 1;
  }
}

.footer__link {
  color: #ffffff;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }

  @media (max-width: $vp-767) {
    @include Roboto_Condensed(400, 16px, 19px);
  }
}

.footer__social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 130px;
  gap: 10px;

  @media (max-width: $vp-767) {
    margin-top: 17px;
    padding-left: 2px;
  }
}

.footer__social-link {
  color: #ffffff;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}
