.free-lesson {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 21px;
  background: #102654;
  color: #ffffff;
  padding: 65px 170px 40px 103px;


  @media (max-width: $vp-1199) {
    align-items: flex-start;
    padding: 63px 162px 41px 133px;
    gap: 31px;
  }

  @media (max-width: $vp-767) {
    padding: 65px 15px 32px;
    gap: 33px;
  }
}

.free-lesson__title {
  padding-right: 28px;
}

.free-lesson form {
  display: flex;
  flex-direction: column;
  gap: 28px;
  max-width: 410px;
  width: 100%;

  @media (max-width: $vp-1199) {
    max-width: 100%;
  }

  @media (max-width: $vp-767) {
    gap: 38px;
  }
}

.free-lesson__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;

  @media (max-width: $vp-1199) {
    gap: 59px;
  }

  @media (max-width: $vp-767) {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

form label {
  position: relative;
}

form input {
  border: none;
  border-bottom: 1px solid #74819c;
  background: transparent;
  padding: 9px 0;
  color: #ffffff;
  width: 100%;

  &::placeholder {
    @include Roboto_Condensed(400, 14px, 16px);
    color: #ffffff;
  }

  &:hover {
    background: #0c1c3d;
  }

  @media (max-width: $vp-1199) {
    padding: 6px 0;
  }
}

.free-lesson button {
  @include Roboto_Condensed(400, 14px, 16px);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  padding: 15px;
  cursor: pointer;

  &:hover {
    background-color: #ffffff;
    color: #000000;
  }

  &:active {
    background-color: #dddddd;
  }
}

.free-lesson__error {
  position: absolute;
  top: 28px;
  left: 0;
  color: #eb5a5a;
}

.free-lesson__message {
  color: #f9fbfd;
  text-align: center;
}
