.subscription {
	background: #f8f9fc;
}

.subscription__container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 125px 103px;

	@media (max-width: $vp-1199) {
		padding: 100px 163px;
		gap: 3px;
	}

	@media (max-width: $vp-767) {
		padding: 70px 15px 65px;
		gap: 5px;
	}
}

.subscription__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 32px;
	width: 100%;

	@media (max-width: $vp-1199) {
		gap: 40px;
	}

	@media (max-width: $vp-767) {
		gap: 32px;
	}
}

.subscription__period-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 46px;
	border-bottom: 2px solid #78787833;

	@media (max-width: $vp-1199) {
		gap: 54px;
	}

	@media (max-width: $vp-767) {
		justify-content: space-between;
		width: 100%;
		max-width: 290px;
		gap: 20px;
	}
}

.subscription__period-item {
	position: relative;
}

.subscription__button {
	@include Roboto_Condensed(400, 20px, 30px);
	display: block;
	padding: 17px 0;
	color: #10265480;
	cursor: pointer;

	&:hover {
		color: #102654;
	}

	@media (max-width: $vp-1199) {
		@include Roboto_Condensed(400, 18px, 27px);
		padding: 14px 0;
	}

	@media (max-width: $vp-767) {
		@include Roboto_Condensed(400, 16px, 24px);
		padding-bottom: 13px;
	}
}

.subscription__price-list {
	position: relative;
	z-index: 1;
	list-style: none;
	margin: 0;
	padding: 0;
	display: none;
	grid-template-columns: repeat(3, minmax(200px, 360px));
	justify-content: center;
	gap: 40px;

	@media (max-width: $vp-1199) {
		grid-template-columns: 442px;
	}

	@media (max-width: $vp-767) {
		width: 100%;
		grid-template-columns: minmax(250px, 500px);
		gap: 36px;
	}
}

.subscription__image {
	position: absolute;
	right: 0;
	bottom: -145px;

	@media (max-width: $vp-1199) {
		bottom: -122px;
	}

	@media (max-width: $vp-767) {
		display: none;
	}
}

.subscription__button--active {
	color: #102654;

	&::before {
		content: "";
		height: 2px;
		width: 100%;
		background-color: #d10a42;
		position: absolute;
		bottom: -2px;
		left: 0;
	}
}

.subscription__price-list--active {
	display: grid;
}
