.super-games__container {
  display: grid;
  grid-template-columns: minmax(300px, 500px) auto;
  justify-content: center;
  padding: 116px 103px 53px;

  @media (max-width: $vp-1199) {
    padding: 100px 45px 50px;
    grid-template-columns: minmax(200px, 292px) auto;
  }

  @media (max-width: $vp-767) {
    padding: 70px 15px 40px;
    grid-template-columns: 1fr;
  }
}

.super-games__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
  padding: 83px 79px;
  background: #ed0233;
  color: #ffffff;

  @media (max-width: $vp-1199) {
    padding: 50px 45px;
    gap: 3px;
  }

  @media (max-width: $vp-767) {
    gap: 4px;
  }
}

.super-games__info {
  display: grid;
  grid-template-columns: min-content auto;
  justify-content: center;
  align-items: start;
  gap: 29px;

  @media (max-width: $vp-1199) {
    justify-content: space-between;
    gap: 36px;
  }
}

.super-games__title {
  font-size: 82px;
  line-height: 79px;
  text-align: center;
  letter-spacing: 0.03em;

  @media (max-width: $vp-1199) {
    font-size: 48px;
    line-height: 46px;
    padding: 0;
  }

  @media (max-width: $vp-767) {
    padding-left: 4px;
  }
}

.super-games__description-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 33px;
  gap: 16px;

  @media (max-width: $vp-1199) {
    margin: 0;
    gap: 5px;
  }
}

.super-games__description-list {
  display: grid;
  grid-template-columns: min-content;
  margin: 0;

  @media (max-width: $vp-1199) {
    justify-content: start;
  }
}

.super-games__description-term {
  @include Roboto_Condensed(400, 18px, 27px);
  margin: 0;

  padding-left: 7px;
  border-bottom: 1px solid #ffffff;

  @media (max-width: $vp-1199) {
    @include Roboto_Condensed(400, 12px, 13px);
    padding-bottom: 2px;
    padding-left: 0;
  }
}

.super-games__description-definition {
  @include Roboto_Condensed(700, 40px, 49px);
  margin: 0;
  display: flex;
  align-items: center;
  gap: 7px;

  @media (max-width: $vp-1199) {
    @include Roboto_Condensed(700, 24px, 31px);
    gap: 2px;
  }
}

.super-games__description-text {
  @include Roboto_Condensed(400, 14px, 21px);
  display: flex;
  flex-direction: column;

  @media (max-width: $vp-1199) {
    @include Roboto_Condensed(400, 10px, 11px);
  }
}

.super-games__text {
  @include Roboto_Condensed(400, 18px, 27px);
  margin: 0;

  @media (max-width: $vp-1199) {
    @include Roboto_Condensed(400, 12px, 18px);
    margin-top: 0;
  }
}

.super-games__button {
  margin-top: 22px;
  padding: 24px;

  &:hover {
    background: #be012a;
  }

  &:active {
    background: #9b0324;
  }

  @media (max-width: $vp-1199) {
    @include Roboto_Condensed(400, 10px, 12px);
    padding: 10px;
    margin-top: 26px;
  }
}

.super-games__image {
  height: 100%;
  object-fit: cover;

  @media (max-width: $vp-1199) {
    width: 100%;
  }

  @media (max-width: $vp-767) {
    width: 100%;
  }
}
